<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Trace" internalLogFile="d:\tmp\nlog-internal.log">

  <!-- variables : https://github.com/nlog/NLog/wiki/Configuration-file#variables -->
  <variable name="logFilePrefix" value="EDShyrka.log" />
  <variable name="logPath" value="${basedir}/Logs" />
  <variable name="logFilename" value="${logPath}/${logFilePrefix}${shortdate}" />
  <variable name="archiveFilename" value="${logPath}/${logFilePrefix}{#}" />
  <variable name="archiveDateFormat" value="yyyy-MM-dd" />

	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
  See https://github.com/nlog/NLog/wiki/Targets for possible targets.
  See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
  -->
  <targets>
    <!-- write logs to file  -->
    <wrapper-target xsi:type="AsyncWrapper" name="file">
		  <target xsi:type="File" name="logFile" fileName="${logFilename}.log" concurrentWrites="true"
			    archiveFileName="${archiveFilename}.json" archiveNumbering="Date"
			    archiveEvery="Day" maxArchiveFiles="29" archiveDateFormat="${archiveDateFormat}">
		    <layout xsi:type="JsonLayout" includeAllProperties="true" maxRecursionLimit="2">
			    <attribute name="timestamp" layout="${longdate}" />
          <attribute name="level" layout="${level}" />
          <attribute name="logger" layout="${logger}" />
          <attribute name="message" layout="${message}" />
          <attribute name="exception" layout="${exception:format=tostring}" />
        </layout>
		  </target>
    </wrapper-target>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
